.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.listContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.filter {
  flex: 0 0 auto;
  border: solid 1px black;
  height: 100%;
  width: 8rem;
}

.list {
  flex: 1;
}

@media (max-width: 768px) {
  .filter {
    display: none;
  }

  .listContainer {
    flex-direction: column;
  }

  .list {
    width: 100%;
  }
}

.filterButton {
  display: none;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media (max-width: 768px) {
  .filterButton {
    display: block;
  }
}

.mobileFilter {
  display: none;
}

@media (max-width: 768px) {
  .mobileFilter {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 1rem;
  }

  .mobileFilterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
  }

  .mobileFilterHeader button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
  }
}
