.wrapper {
  border-bottom: solid 1px #d9d9d9;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2rem;
  color: #e5d9c5;
}

.userProfile {
  border-radius: 100%;
  border: solid 2px black;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.logo {
  box-sizing: content-box;
  width: 45px;
}
